<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品列表</title>
<meta name="description" content="产品列表" />
<meta name="keywords" content="产品列表" />
<link href="__STATIC__/admin/style/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" media="all" href="__STATIC__/home/style/style.css" />
<link rel="stylesheet" href="__STATIC__/home/style/votestyles.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/home/style/voteitup.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/home/style/list.css" type="text/css" />
    <script src="__STATIC__/admin/style/bootstrap.js"></script>

</head>
<body id="list_style_2" class="list_style_2">

<div id="mask" class="mask" onclick="CloseMask()"></div> 


    {include file="public/menu" /}

    <div id="wrapper">
       

    <div id="xh_container">
        <div id="xh_content">

            <div class="path">
                <span>搜索&nbsp&nbsp<span style="color: red">{$keywords}</span>&nbsp&nbsp结果</span>
             </div>
             <div class="clear"></div>

            <div class="xh_area_h_3" style="margin-top: 40px;">
    
    {volist name="articles" id="vo"}
    <div class="xh_post_h_3 ofh">
            <div class="xh">
                <a target="_blank" href="{:url('article/detail',['artid'=>$vo.id])}" title="Alain Massabova: 40 Years in Paris BMX 视频">
                    <img src="http://qiye2.local/{$vo.thumb}" alt="{$vo.title}" height="240" width="400"></a>
             </div>
            <div class="r ofh">
                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                    <a target="_blank" href="{:url('article/detail',['artid'=>$vo.id])}" title="{$vo.title}">{$vo.title}</a>
                </h2>
                <span class="time">{$vo.create_time}</span>
                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                      {$vo.desc}                                 
                </div>
                <div class="b">
                    <a href="{:url('article/detail',['artid'=>$vo.id])}" class="xh_readmore" rel="nofollow">read
                        more</a> <span title="{$vo.zan}人赞" class="xh_love"><span class="textcontainer"><span>0</span></span> </span> <span title="{$vo.click}人浏览" class="xh_views">
                                    {$vo.click}</span>
                </div>
            </div>
     </div>
        {/volist}        
        <div class ="page-container" style="text-align: center;">{$articles}</div>
     </div>
        </div>
        <div id="xh_sidebar">   

<!-- 右侧 -->
 <div class="widget">

<div style="background: url('__STATIC__/home/style/img/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
</div>
    
    {include file="public/hotRead"/}
                </div>
            
            <div class="widget portrait">
    <div>
        <div class="textwidget">
            <a href="/tougao.html"><img src="__STATIC__/home/style/img/tg.jpg" alt="鎶曠ǹ"></a><br><br>          
<script type="text/javascript">BAIDU_CLB_fillSlot("870073");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870080");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870081");</script>
        </div>
    </div>
</div>

        </div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor"></div>

    <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>


    </div>

{include file="public/footer" /}
<div style="display: none;" id="scroll">
</div>

{include file="public/base_js"}
<script type="text/javascript">
        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
        });
        function IBoxBor() {
            window.open($("#hdBoxbor").val());
        }
        function goanewurl() {
            window.open($("#hdUrlFocus").val());
        }
</script>
</body>
</html>
