{include file="public/header"}
    <div class="main-container container-fluid">
        <div class="page-container">
                        <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input class="searchinput" type="text">
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
                </div>
                <!-- /Page Sidebar Header -->
                 <!-- Sidebar Menu -->
                {include file="public/menu"}
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('conf/lst')}">系统</a>
                    </li>
                                        <li>
                        <a href="{:url('conf/lst')}">系统管理</a>
                    </li>
                                        <li class="active">添加配置</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">新增配置</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="{:url('conf/update')}" method="post">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">配置中文名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="username" value="{$conf.cnname}" name="cnname"  required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="enname" class="col-sm-2 control-label no-padding-right">配置英文名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="enname" value="{$conf.enname}" placeholder="" name="enname"  required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label no-padding-right">配置类型</label>
                            <div class="col-sm-6">
                                <select name="type">
                                    <option value="0">请选择</option>
                                    <option value="1">单行文本</option>
                                    <option value="2">多行文本</option>
                                    <option value="3">单选按钮</option>
                                    <option value="4">复选框</option>
                                    <option value="5">下拉菜单</option>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
              
                        <div class="form-group">
                            <label for="value" class="col-sm-2 control-label no-padding-right">配置选项值</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="value" value="{$conf.values}" name="values" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <input type="hidden" name="id" value="{$conf.id}">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>  
    </div>

        <!--Basic Scripts-->
   {include file="public/base_js"}
    


</body></html>