<script src="__STATIC__/home/style/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="__STATIC__/home/style/jquery.js" type="text/javascript"></script>
<script src="__STATIC__/home/style/jquery.error.js" type="text/javascript"></script>
<script src="__STATIC__/home/style/jtemplates.js" type="text/javascript"></script>
<script src="__STATIC__/home/style/jquery.form.js" type="text/javascript"></script>
<script src="__STATIC__/home/style/lazy.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/home/style/wp-sns-share.js"></script>
<script type="text/javascript" src="__STATIC__/home/style/voterajax.js"></script>
<script type="text/javascript" src="__STATIC__/home/style/userregister.js"></script>
 
<script language="javascript" type="text/javascript" src="__STATIC__/home/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">


<script src="__STATIC__/home/style/common.js" type="text/javascript"></script>
 <script>
 function subForm()
 {

 formsearch.submit();
 //form1为form的id
 }
 </script>
<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<script type="text/javascript" src="__STATIC__/home/style/z700bike_global.js"></script>
