<div id="header_wrap">
    <div id="header">
        <div style="float: left; width: 310px;">
            <h1>
                <a href="{:url('index/index')}" title="{$sitename}">{$sitename}</a>
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>
        <div id="navi">

    <ul id="jsddm">
        <li><a class="navi_home" href="{:url('index/index')}">首页</a></li>
    {volist name="cates" id="vo" key="key"}
        <li>
            
            <a href="http://qiye2.local/index/{if condition="$vo['type'] eq 1"}art_list{elseif condition="$vo['type'] eq 3"/}img_list{else/}page{/if}/index/cateid/{$vo.id}" {if condition="$vo.children"} class="havechild" {/if}>{$vo.catename}</a>
            
            {if condition="$vo.children"}
            <ul>
                {volist name="vo.children" id="vo2"}
                <li><a href="http://qiye2.local/index/{if condition="$vo2['type'] eq 1"}art_list{elseif condition="$vo2['type'] eq 3"/}img_list{else/}page{/if}/index/cateid/{$vo2.id}">{$vo2.catename}</a></li>
                {/volist}
            </ul>
              {/if}

         </li>
    {/volist}

    </ul>

    <div style="clear: both;">
    </div>

            
        </div>
        <div style="float: right; width: 209px;">
            <div class="widget" style="height: 30px; padding-top: 20px;">
                <div style="float: left;">
      <form  name="formsearch" action="{:url('search/index')}" method="post"><input type="hidden" name="kwtype" value="0" />                
<input name="keywords" type="text" style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" {if condition="isset($keywords)"}value="{$keywords}"{else/} value="在这里输入"{/if}  onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" />
        </form>
                        </div>
                <div style="float: left;">
                    <img src="__STATIC__/home/images/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                        padding: 0px;" onclick="subForm()"  /></div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        
    </div>
</div>

</div>